<h1>Topics</h1>
<%= link_to "New Topic", new_topic_path, class: 'btn btn-success btn-xs' %>
<div class="row">
  <div class="col-md-8">
    <% @topics.each do |topic| %>
    <div class="media">
      <div class="media-body">
        <h2 class="meadia-heading">
        <%= link_to topic.title, topic %></br>
        </h2>
        <% topic.bookmarks.each do |bookmark| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <%# need to better handle the http %>
                <%= link_to bookmark.url, "http://#{bookmark.url}" %>
              </h4>
            </div>
            <% end %>
          </div>
          <div class="col-md-4">
          <%= link_to "Delete Topic", topic, method: :delete, class: 'btn btn-danger btn-xs' %>
          <%= link_to "New Topic", new_topic_path, class: 'btn btn-success btn-xs' %>
      </div>
  </div>
  <% end %>
</div>
</div>
</div>
